.creators-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 5%;
}

.creators-grid-item {
    font-size: 30px;
    text-align: center;
    transition: all .2s ease-in-out;
    padding-bottom: 10%;
}

.creators-grid-item:hover {
    font-size: 30px;
    text-align: center;
    transform: scale(1.1);
    padding-bottom: 5px;
    padding-top: 5px;
}

.creators-img {
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .creators-grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }
    .creators-img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 360px) {
    .column {
        width: 100%;
    }
    .creators-grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }
    .creators-img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }
    .creators-grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }
}

.creators-image {
    width: 250px;
    height: 200px;
}

.profile-button {
    text-decoration: none;
    font-family: "Bangers";
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.profile-button:hover {
    background-color: red;
    border: 1px solid red;
}

.creators-div-container {
    padding-right: 10%;
    padding-left: 10%;
}