@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);
.big {
    font-family: "Bangers";
    margin: 0 0 -1em 0;
    text-shadow: -1px -1px #E93F39, 1px 1px #420D09, 2px 2px #420D09;
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
    transform: rotate(-10deg) skew(-10deg, 0);
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

h1 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1.big {
    font-size: 90px;
    color: black;
    margin-bottom: -.75em;
}

h2.big {
    font-size: 60px;
    color: black;
}

h3.big {
    font-size: 80px;
}

h4.big {
    font-size: 60px;
    margin-top: -.15em;
}

.burst>.big {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    line-height: 1em;
    font-size: 3em;
    text-align: center;
    margin: 2em 1em;
    max-width: 500px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
    background-color: transparent;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.cardButton {
    text-align: center;
    color: white;
    font-size: 14px;
    border: 1px solid #E93F39;
    padding: 7px;
    width: 50%;
    margin: auto;
    border-radius: 50px;
    background-color: #E93F39;
}

.cardButton:hover {
    border: 1px solid black;
    background-color: black;
}

.column {
    float: left;
    width: 20%;
    /* border: 1px solid black; */
    /* padding: 30px; */
    margin: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 25%; */
    margin-left: 3%;
    height: 250px;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.card:hover .cardImage {
    opacity: 1;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home-img {
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

.div-container {
    padding-left: 10%;
    padding-right: 10%;
}