.home-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 5%;
}

.home-grid-item {
    font-size: 30px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.home-grid-item:hover {
    font-size: 30px;
    text-align: center;
    transform: scale(1.1);
    padding-bottom: 5px;
    padding-top: 5px;
}

.home-img {
    width: 250px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .home-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    .home-img {
        width: 135px;
        height: 130px;
    }
}

@media (max-width: 360px) {
    .column {
        width: 100%;
    }
    .home-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    .home-img {
        width: 135px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }
    .home-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
}

.home-div-container {
    padding-left: 10%;
    padding-right: 10%;
}