* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: black;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.creator-image {
    width: 100px;
}

.card {
    background-color: white;
    padding: 1px 2px 2px 2px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .header {
        padding: 0px
    }
}

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);
.comic_nav__page {
    border-bottom: 1px solid black;
    font-family: "Bangers";
    max-width: 120px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
}

.comic_nav__page a {
    text-decoration: none;
    color: black;
    font-size: 36px;
}

.comic_nav__page:hover a {
    border-bottom: 2px dotted #545454;
    color: red;
}

.single-comic-div-container {
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    color: black;
    font-size: 28px;
    font-family: "Bangers";
}

.comic-avatar {
    width: 400px;
}

@media screen and (max-width: 600px) {
    .comic-avatar {
        size: 100px;
        width: 300px;
    }
    .header {
        padding: 0px;
        background: transparent;
    }
    .creator-image {
        width: 200px;
    }
}

@media (max-width: 360px) {
    .comic-avatar {
        size: 100px;
        width: 300px;
    }
    .header {
        padding: 0px;
        background: transparent;
    }
    .creator-image {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .comic-avatar {
        size: 100px;
        width: 300px;
    }
    .header {
        padding: 0px;
        background: transparent;
    }
    .creator-image {
        width: 200px;
    }
}